* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bitter', serif;
  }
  
  html, body {
    height: 100%;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  


/*presentacion*/
.Present img{
    display: flex;
    align-items: center; 
    justify-content: center; 
}
.Present h1, .Present h2 {
    display: flex;
    align-items: center; /* Centrado vertical */
    justify-content: center; /* Centrado horizontal */
    
  }
  
.Present {
    display: flex;
    align-items: center; /* Centrado vertical */
    justify-content: center; /* Centrado horizontal */
    height: 100vh; text-align: center;
  }
  

.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
/*imagenes*/
.Icon-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
  }

  .Icon-1 img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .btn-categoria {
    height: 90px;
    width: 50px;
    border-radius: 1000px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px; 
    margin: 20px;
  }
  .btn-categoria:hover{
    background-color: #87CEEB;
  }
  .btn-categoria:active{
    background-color: #4169E1


  }
  input[type="checkbox"] {
    display: none;
  }
  .Icon-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    padding: 2px;
  }
  
  .Icon-2 img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: 3%;
  }
  
  
  /*botones*/
  .btn-inicio{
    padding:5px;
    background-color: #B2DF8A;
    border: none;
    border-radius: 20px;
    margin:5%;
    padding: 3%;
  }
  .btn-inicio:hover{
   background-color: #87CEEB
  }
  .btn-inicio2{
    background-color: none;
    border:none;
    text-decoration: underline;
  }

/*titulos*/
  .Title, .sub-title{
    text-align: center;
  }
.columns{
    columns: 2;
}

.custom-button {
  position: relative;
  display: inline-block;
  float: right;
}

.custom-button img {
  width: 32px; /* Ajusta el ancho de la imagen según tus necesidades */
  height: auto; /* Ajusta la altura de la imagen según tus necesidades */
}